.cardwrapper {
  /* background: red; */
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card {
  /* position: relative; */
  height: 100%;
  width: 85%;
  /* background: peru; */
  display: flex;
  align-items: center;
  /* overflow: hidden; */
}

.card-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 15px;
  overflow: hidden;
}

.cardslide {
  width: 24%;
  flex-shrink: 0;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  height: 100%;
  /* background: #000; */
}

.card-image-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 80%;
  width: 100%;
  background: red;
}

.card-image-container img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.3s ease;
}

.card-image-container:hover img {
  transform: scale(1.05);
}

.card-hover9-box {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  background: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-image-container:hover .card-hover9-box {
  opacity: 1;
}

.card-icon9-container {
  padding: 10px;
  transition: background 0.3s ease, color 0.3s ease;
}

.card-icon9-container .card-icon9 {
  font-size: 20px;
  color: black;
}

.card-icon9-container:hover {
  background: red;
}

.card-icon9-container:hover .card-icon9 {
  color: white;
}

.card-product9-details {
  margin-top: 10px;
  height: 30%;
  width: 100%;
  /* background: greenyellow; */
}

.card-product9-title {
  font-size: 13px;
  transition: color 0.3s ease;
  font-family: "Phudu", serif;
}

.card-product9-title:hover {
  color: red;
}

.card-price9 {
  font-size: 17px;
  margin-top: 5px;
}

.card-old9-price {
  font-size: 11px;
  text-decoration: line-through;
  font-family: cursive;
  color: gray;
}

.card-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  transition: background 0.3s ease;
  z-index: 1;
}

.card-button:hover {
  background: red;
  color: white;
}

.cardleft9-btn {
  left: 1px;
}

.cardright9-btn {
  right: 3px;
}
