.Head{
    height: 15vh;
    width: 100%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    
}

.Head1{
    height: 15vh;
    width: 98%;
    /* background: purple; */
    display: flex;
    justify-content: space-between;
    align-items: center
} 

.wrap{
    height: 80%;
    width: 16%;
    /* background: pink; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    & header {
        font-size: 24px;
        color: black;
    }

    & strong {
        font-size: 17px;
        color: red;
    }
}
.wrapper{
        height: 80%;
        width: 60%;
        /* background: blue; */
        display: flex;
        align-items: center;
        justify-content: space-between;

 & h1 {
    font-size: 14px;
     font-family: jost, serif;
    font-weight: 500;
    /* font-style: italic; */
    color: black;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
    text-decoration: none;

            }
            
 &  h1:hover {
                color: red;
               text-decoration: none;

            }
        }


.wrap1{
    height: 80%;
    width: 12%;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.wrap1 svg {
    transition: color 0.1s ease-in-out; 
    cursor: pointer; 
    color: #000;
}

.wrap1 svg:hover {
    color: red;
}

.UserAuth {
    position: relative;
    display: inline-block;
  }
  
  .UserAuthTrigger {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .AuthDrop {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    height: 150px;
    width: 150px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  }
  
  .UserAuth:hover .AuthDrop {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .AuthDrop ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .AuthDrop li {
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .AuthDrop li:hover {
    color: red;
  }
  
  .ActionBtn {
    font-weight: bold;
    /* color: red; */
  }
  