.mesh{
    height: 260vh;
    width: 100%;
    /* background: purple; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;

}

.meshContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: pink; */
}

.meshContainer1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: red; */
}

.bubu{
    height: 305vh;
    width: 100%;
    /* background: purple; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;

}

.bubuContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: pink; */
}

.bubuContainer1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: red; */
}



.dinner{
    height: 310vh;
    width: 100%;
    /* background: purple; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;

}

.dinnerContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: pink; */
}

.dinnerContainer1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: red; */
}

.dinnerContainer2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: #000; */
}

.dinnerContainer3{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: #000; */
}
